<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.opengauss.Driver</property>
        <property name="hibernate.connection.url">jdbc:opengauss://43.138.80.125:25432/osapp</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">osapp_openGauss@123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OpenGaussDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
    </session-factory>
</hibernate-configuration>